.ufa{
    display: flex;
}
.tables{
    font-size: 20px;
    background-color: #202324; 
    width: 50%;
    height: 35%;
    margin-top: 15px;
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
}
.tables4{
    font-size: 20px;
    background-color: #202324; 
    width: 50%;
    height: 35%;
    margin-top: 15px;
    border-radius: 20px;
    margin-left: 10px;
    padding: 10px;
}
.body4{
    margin-left: -10px;
    margin-top: -50px;
}
.tables3{
    font-size: 20px;
    background-color: #202324; 
    width: 43.8%;
    height: 100%;
    margin-top: -150px;
    margin-left:53%; ;
    border-radius: 20px;
    padding: 10px;
    padding-top: 0px;
    padding-left: 25px;
}
.tables1{
    display: flex;
    font-size: 20px;
    background-color: #202324; 
    width: 45%;
    height: 35%;
    margin-top: -28.8%;
    margin-left: 53%;
    border-radius: 20px;
    padding: 10px;
}
.header4{
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

}
.header4 h3{
 font-size:25px;
 font-weight:lighter;
 color:beige ;
 margin-left: 5px;
}
.header4 button {
    background: none;
    border: 2px solid #ff8000;
    border-radius:15px;
    padding: 10px;
    padding-top: 8px;
    font: inherit;
    font-size: 15px;
    color: inherit;
    cursor: pointer;
    margin-left: 175px;
  }
.header .uwu{
 
    margin-left: 175px;
  }
.body{
    display: block;
   
}