.ufaufa2{
    padding-top: 0px;
    margin: 0px;
    margin-bottom: -45px;
    margin-top: 25px;
    width: 100%;
}
.ufaufa2 .coni2 {   
    width: 100%; 
    display: flex;
    padding: 15px;
    margin: 0px;
    height: 40px;
    border-radius: 15px;
    justify-content: space-around;

}
.coni2 h2{
    font-size: 15px;
    color: aliceblue;
    font-weight: bold;
    margin-left: 50px;
    width: 500px;

}
.coni2 button{
    background: none;
    border: 2px solid #ff8000;
    border-radius:15px;
    padding: 10px;
    width: 200px;
    margin-right: 50px;
    padding-top: 8px;
    font: inherit;
    color: inherit;
    cursor: pointer;
} 
.ufaufa2 .coni2 .ufaufita2{
    background-color: #ff8000;
    color: aliceblue;
    width: 200px;
    border-radius: 15px;
    text-align: center;
    padding-top: 8px;
}

